<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Style - Rules - Release" ToolsVersion="18.0">
  <Rules AnalyzerId="MSTest.Analyzers" RuleNamespace="MSTest.Analyzers">
    <Rule Id="MSTEST0016" Action="Error" />
    <Rule Id="MSTEST0025" Action="Error" />
    <Rule Id="MSTEST0037" Action="Error" />
    <Rule Id="MSTEST0042" Action="Error" />
    <Rule Id="MSTEST0046" Action="Error" />
    <Rule Id="MSTEST0065" Action="Error" />
    <Rule Id="MSTEST0068" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2007" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0049" Action="None" />
  </Rules>
  <Rules AnalyzerId="Reihitsu.Analyzer" RuleNamespace="Reihitsu.Analyzer">
    <Rule Id="RH0001" Action="Error" />
    <Rule Id="RH0002" Action="Error" />
    <Rule Id="RH0003" Action="Error" />
    <Rule Id="RH0004" Action="Error" />
    <Rule Id="RH0005" Action="Error" />
    <Rule Id="RH0006" Action="Error" />
    <Rule Id="RH0007" Action="Error" />
    <Rule Id="RH0008" Action="Error" />
    <Rule Id="RH0009" Action="Error" />
    <Rule Id="RH0010" Action="Error" />
    <Rule Id="RH0011" Action="Error" />
    <Rule Id="RH0012" Action="Error" />
    <Rule Id="RH0013" Action="Error" />
    <Rule Id="RH0101" Action="Error" />
    <Rule Id="RH0102" Action="Error" />
    <Rule Id="RH0103" Action="Error" />
    <Rule Id="RH0104" Action="Error" />
    <Rule Id="RH0105" Action="Error" />
    <Rule Id="RH0106" Action="Error" />
    <Rule Id="RH0107" Action="Error" />
    <Rule Id="RH0108" Action="Error" />
    <Rule Id="RH0109" Action="Error" />
    <Rule Id="RH0110" Action="Error" />
    <Rule Id="RH0111" Action="Error" />
    <Rule Id="RH0201" Action="Error" />
    <Rule Id="RH0202" Action="Error" />
    <Rule Id="RH0203" Action="Error" />
    <Rule Id="RH0204" Action="Error" />
    <Rule Id="RH0205" Action="Error" />
    <Rule Id="RH0206" Action="Error" />
    <Rule Id="RH0207" Action="Error" />
    <Rule Id="RH0208" Action="Error" />
    <Rule Id="RH0209" Action="Error" />
    <Rule Id="RH0210" Action="Error" />
    <Rule Id="RH0211" Action="Error" />
    <Rule Id="RH0212" Action="Error" />
    <Rule Id="RH0213" Action="Error" />
    <Rule Id="RH0214" Action="Error" />
    <Rule Id="RH0215" Action="Error" />
    <Rule Id="RH0216" Action="Error" />
    <Rule Id="RH0217" Action="Error" />
    <Rule Id="RH0218" Action="Error" />
    <Rule Id="RH0219" Action="Error" />
    <Rule Id="RH0220" Action="Error" />
    <Rule Id="RH0221" Action="Error" />
    <Rule Id="RH0222" Action="Error" />
    <Rule Id="RH0223" Action="Error" />
    <Rule Id="RH0224" Action="Error" />
    <Rule Id="RH0225" Action="Error" />
    <Rule Id="RH0226" Action="Error" />
    <Rule Id="RH0227" Action="Error" />
    <Rule Id="RH0228" Action="Error" />
    <Rule Id="RH0301" Action="Error" />
    <Rule Id="RH0302" Action="Error" />
    <Rule Id="RH0303" Action="Error" />
    <Rule Id="RH0304" Action="Error" />
    <Rule Id="RH0305" Action="Error" />
    <Rule Id="RH0306" Action="Error" />
    <Rule Id="RH0307" Action="Error" />
    <Rule Id="RH0308" Action="Error" />
    <Rule Id="RH0309" Action="Error" />
    <Rule Id="RH0310" Action="Error" />
    <Rule Id="RH0311" Action="Error" />
    <Rule Id="RH0312" Action="Error" />
    <Rule Id="RH0313" Action="Error" />
    <Rule Id="RH0314" Action="Error" />
    <Rule Id="RH0315" Action="Error" />
    <Rule Id="RH0316" Action="Error" />
    <Rule Id="RH0317" Action="Error" />
    <Rule Id="RH0318" Action="Error" />
    <Rule Id="RH0319" Action="Error" />
    <Rule Id="RH0320" Action="Error" />
    <Rule Id="RH0321" Action="Error" />
    <Rule Id="RH0322" Action="Error" />
    <Rule Id="RH0324" Action="Error" />
    <Rule Id="RH0325" Action="Error" />
    <Rule Id="RH0326" Action="Error" />
    <Rule Id="RH0327" Action="Error" />
    <Rule Id="RH0328" Action="Error" />
    <Rule Id="RH0329" Action="Error" />
    <Rule Id="RH0330" Action="Error" />
    <Rule Id="RH0331" Action="Error" />
    <Rule Id="RH0332" Action="Error" />
    <Rule Id="RH0333" Action="Error" />
    <Rule Id="RH0334" Action="Error" />
    <Rule Id="RH0335" Action="Error" />
    <Rule Id="RH0336" Action="Error" />
    <Rule Id="RH0337" Action="Error" />
    <Rule Id="RH0338" Action="Error" />
    <Rule Id="RH0339" Action="Error" />
    <Rule Id="RH0340" Action="Error" />
    <Rule Id="RH0341" Action="Error" />
    <Rule Id="RH0342" Action="Error" />
    <Rule Id="RH0343" Action="Error" />
    <Rule Id="RH0344" Action="Error" />
    <Rule Id="RH0345" Action="Error" />
    <Rule Id="RH0346" Action="Error" />
    <Rule Id="RH0347" Action="Error" />
    <Rule Id="RH0348" Action="Error" />
    <Rule Id="RH0349" Action="Error" />
    <Rule Id="RH0350" Action="Error" />
    <Rule Id="RH0351" Action="Error" />
    <Rule Id="RH0352" Action="Error" />
    <Rule Id="RH0353" Action="Error" />
    <Rule Id="RH0354" Action="Error" />
    <Rule Id="RH0355" Action="Error" />
    <Rule Id="RH0356" Action="Error" />
    <Rule Id="RH0357" Action="Error" />
    <Rule Id="RH0358" Action="Error" />
    <Rule Id="RH0359" Action="Error" />
    <Rule Id="RH0360" Action="Error" />
    <Rule Id="RH0361" Action="Error" />
    <Rule Id="RH0362" Action="Error" />
    <Rule Id="RH0363" Action="Error" />
    <Rule Id="RH0364" Action="Error" />
    <Rule Id="RH0365" Action="Error" />
    <Rule Id="RH0366" Action="Error" />
    <Rule Id="RH0367" Action="Error" />
    <Rule Id="RH0368" Action="Error" />
    <Rule Id="RH0369" Action="Error" />
    <Rule Id="RH0370" Action="Error" />
    <Rule Id="RH0371" Action="Error" />
    <Rule Id="RH0372" Action="Error" />
    <Rule Id="RH0373" Action="Error" />
    <Rule Id="RH0374" Action="Error" />
    <Rule Id="RH0375" Action="Error" />
    <Rule Id="RH0376" Action="Error" />
    <Rule Id="RH0377" Action="Error" />
    <Rule Id="RH0378" Action="Error" />
    <Rule Id="RH0379" Action="Error" />
    <Rule Id="RH0380" Action="Error" />
    <Rule Id="RH0381" Action="Error" />
    <Rule Id="RH0382" Action="Error" />
    <Rule Id="RH0383" Action="Error" />
    <Rule Id="RH0396" Action="None" />
    <Rule Id="RH0401" Action="Error" />
    <Rule Id="RH0402" Action="Error" />
    <Rule Id="RH0403" Action="Error" />
    <Rule Id="RH0404" Action="Error" />
    <Rule Id="RH0405" Action="Error" />
    <Rule Id="RH0406" Action="Error" />
    <Rule Id="RH0407" Action="Error" />
    <Rule Id="RH0408" Action="Error" />
    <Rule Id="RH0409" Action="Error" />
    <Rule Id="RH0410" Action="Error" />
    <Rule Id="RH0411" Action="Error" />
    <Rule Id="RH0412" Action="Error" />
    <Rule Id="RH0413" Action="Error" />
    <Rule Id="RH0414" Action="Error" />
    <Rule Id="RH0415" Action="Error" />
    <Rule Id="RH0416" Action="Error" />
    <Rule Id="RH0417" Action="Error" />
    <Rule Id="RH0418" Action="Error" />
    <Rule Id="RH0419" Action="Error" />
    <Rule Id="RH0420" Action="Error" />
    <Rule Id="RH0421" Action="Error" />
    <Rule Id="RH0422" Action="Error" />
    <Rule Id="RH0423" Action="Error" />
    <Rule Id="RH0424" Action="Error" />
    <Rule Id="RH0425" Action="Error" />
    <Rule Id="RH0426" Action="Error" />
    <Rule Id="RH0427" Action="Error" />
    <Rule Id="RH0428" Action="None" />
    <Rule Id="RH0429" Action="Error" />
    <Rule Id="RH0430" Action="Error" />
    <Rule Id="RH0431" Action="Error" />
    <Rule Id="RH0432" Action="Error" />
    <Rule Id="RH0433" Action="Error" />
    <Rule Id="RH0434" Action="Error" />
    <Rule Id="RH0435" Action="Error" />
    <Rule Id="RH0436" Action="Error" />
    <Rule Id="RH0437" Action="Error" />
    <Rule Id="RH0438" Action="Error" />
    <Rule Id="RH0439" Action="Error" />
    <Rule Id="RH0440" Action="Error" />
    <Rule Id="RH0441" Action="Error" />
    <Rule Id="RH0442" Action="Error" />
    <Rule Id="RH0443" Action="Error" />
    <Rule Id="RH0444" Action="Error" />
    <Rule Id="RH0445" Action="Error" />
    <Rule Id="RH0446" Action="Error" />
    <Rule Id="RH0501" Action="Error" />
    <Rule Id="RH0502" Action="Error" />
    <Rule Id="RH0601" Action="Error" />
    <Rule Id="RH0602" Action="Error" />
    <Rule Id="RH0603" Action="Error" />
    <Rule Id="RH0604" Action="Error" />
    <Rule Id="RH0605" Action="Error" />
    <Rule Id="RH0606" Action="Error" />
    <Rule Id="RH0607" Action="Error" />
    <Rule Id="RH0608" Action="Error" />
    <Rule Id="RH0609" Action="Error" />
    <Rule Id="RH0610" Action="Error" />
    <Rule Id="RH0611" Action="Error" />
    <Rule Id="RH0612" Action="Error" />
    <Rule Id="RH0613" Action="Error" />
    <Rule Id="RH0614" Action="Error" />
    <Rule Id="RH1001" Action="Error" />
    <Rule Id="RH1002" Action="Error" />
    <Rule Id="RH1003" Action="Error" />
    <Rule Id="RH2001" Action="Error" />
    <Rule Id="RH2002" Action="Error" />
    <Rule Id="RH2003" Action="Error" />
    <Rule Id="RH2004" Action="Error" />
    <Rule Id="RH2005" Action="Error" />
    <Rule Id="RH2006" Action="Error" />
    <Rule Id="RH2007" Action="Error" />
    <Rule Id="RH2101" Action="Error" />
    <Rule Id="RH2102" Action="Error" />
    <Rule Id="RH2103" Action="Error" />
    <Rule Id="RH2104" Action="Error" />
    <Rule Id="RH2105" Action="Error" />
    <Rule Id="RH2106" Action="Error" />
    <Rule Id="RH2107" Action="Error" />
    <Rule Id="RH2108" Action="Error" />
    <Rule Id="RH2109" Action="Error" />
    <Rule Id="RH3001" Action="Error" />
    <Rule Id="RH3002" Action="Error" />
    <Rule Id="RH3003" Action="Error" />
    <Rule Id="RH3004" Action="Error" />
    <Rule Id="RH3005" Action="Error" />
    <Rule Id="RH3006" Action="Error" />
    <Rule Id="RH3007" Action="Error" />
    <Rule Id="RH3101" Action="Error" />
    <Rule Id="RH3102" Action="Error" />
    <Rule Id="RH3103" Action="Error" />
    <Rule Id="RH3104" Action="Error" />
    <Rule Id="RH3105" Action="Error" />
    <Rule Id="RH3106" Action="Error" />
    <Rule Id="RH3107" Action="Error" />
    <Rule Id="RH3201" Action="Error" />
    <Rule Id="RH3202" Action="Error" />
    <Rule Id="RH3203" Action="Error" />
    <Rule Id="RH3204" Action="Error" />
    <Rule Id="RH4001" Action="Error" />
    <Rule Id="RH4002" Action="Error" />
    <Rule Id="RH4003" Action="Error" />
    <Rule Id="RH4004" Action="Error" />
    <Rule Id="RH4005" Action="Error" />
    <Rule Id="RH4006" Action="Error" />
    <Rule Id="RH4007" Action="Error" />
    <Rule Id="RH4008" Action="Error" />
    <Rule Id="RH4009" Action="Error" />
    <Rule Id="RH4010" Action="Error" />
    <Rule Id="RH4011" Action="Error" />
    <Rule Id="RH4101" Action="Error" />
    <Rule Id="RH4102" Action="Error" />
    <Rule Id="RH4103" Action="Error" />
    <Rule Id="RH4104" Action="Error" />
    <Rule Id="RH4105" Action="Error" />
    <Rule Id="RH4106" Action="Error" />
    <Rule Id="RH4107" Action="Error" />
    <Rule Id="RH4108" Action="Error" />
    <Rule Id="RH4109" Action="Error" />
    <Rule Id="RH4110" Action="Error" />
    <Rule Id="RH4111" Action="Error" />
    <Rule Id="RH4112" Action="Error" />
    <Rule Id="RH4113" Action="Error" />
    <Rule Id="RH4114" Action="Error" />
    <Rule Id="RH4115" Action="Error" />
    <Rule Id="RH4116" Action="Error" />
    <Rule Id="RH4117" Action="Error" />
    <Rule Id="RH4118" Action="Error" />
    <Rule Id="RH4119" Action="None" />
    <Rule Id="RH4120" Action="Error" />
    <Rule Id="RH4121" Action="Error" />
    <Rule Id="RH5001" Action="Error" />
    <Rule Id="RH5002" Action="Error" />
    <Rule Id="RH5003" Action="Error" />
    <Rule Id="RH5004" Action="Error" />
    <Rule Id="RH5005" Action="Error" />
    <Rule Id="RH5006" Action="Error" />
    <Rule Id="RH5007" Action="Error" />
    <Rule Id="RH5008" Action="Error" />
    <Rule Id="RH5009" Action="Error" />
    <Rule Id="RH5010" Action="Error" />
    <Rule Id="RH5011" Action="Error" />
    <Rule Id="RH5012" Action="Error" />
    <Rule Id="RH5013" Action="Error" />
    <Rule Id="RH5014" Action="Error" />
    <Rule Id="RH5015" Action="Error" />
    <Rule Id="RH5016" Action="Error" />
    <Rule Id="RH5017" Action="Error" />
    <Rule Id="RH5018" Action="Error" />
    <Rule Id="RH5019" Action="Error" />
    <Rule Id="RH5020" Action="Error" />
    <Rule Id="RH5021" Action="Error" />
    <Rule Id="RH5022" Action="Error" />
    <Rule Id="RH5023" Action="Error" />
    <Rule Id="RH5024" Action="Error" />
    <Rule Id="RH5025" Action="Error" />
    <Rule Id="RH5026" Action="Error" />
    <Rule Id="RH5027" Action="Error" />
    <Rule Id="RH5028" Action="Error" />
    <Rule Id="RH5029" Action="Error" />
    <Rule Id="RH5030" Action="Error" />
    <Rule Id="RH5031" Action="Error" />
    <Rule Id="RH5032" Action="Error" />
    <Rule Id="RH5101" Action="Error" />
    <Rule Id="RH5102" Action="Error" />
    <Rule Id="RH5103" Action="Error" />
    <Rule Id="RH5104" Action="Error" />
    <Rule Id="RH5105" Action="Error" />
    <Rule Id="RH5106" Action="Error" />
    <Rule Id="RH5107" Action="Error" />
    <Rule Id="RH5108" Action="Error" />
    <Rule Id="RH5109" Action="Error" />
    <Rule Id="RH5110" Action="Error" />
    <Rule Id="RH5111" Action="Error" />
    <Rule Id="RH5112" Action="Error" />
    <Rule Id="RH5113" Action="Error" />
    <Rule Id="RH5201" Action="Error" />
    <Rule Id="RH5202" Action="Error" />
    <Rule Id="RH5203" Action="Error" />
    <Rule Id="RH5204" Action="Error" />
    <Rule Id="RH5205" Action="Error" />
    <Rule Id="RH5206" Action="Error" />
    <Rule Id="RH5301" Action="Error" />
    <Rule Id="RH5302" Action="Error" />
    <Rule Id="RH5303" Action="Error" />
    <Rule Id="RH5304" Action="Error" />
    <Rule Id="RH5305" Action="Error" />
    <Rule Id="RH5306" Action="Error" />
    <Rule Id="RH5307" Action="Error" />
    <Rule Id="RH5308" Action="Error" />
    <Rule Id="RH5401" Action="Error" />
    <Rule Id="RH5402" Action="Error" />
    <Rule Id="RH5403" Action="Error" />
    <Rule Id="RH5404" Action="Error" />
    <Rule Id="RH5405" Action="Error" />
    <Rule Id="RH5406" Action="Error" />
    <Rule Id="RH5407" Action="Error" />
    <Rule Id="RH5408" Action="Error" />
    <Rule Id="RH5409" Action="Error" />
    <Rule Id="RH5410" Action="Error" />
    <Rule Id="RH5411" Action="Error" />
    <Rule Id="RH5412" Action="Error" />
    <Rule Id="RH5413" Action="Error" />
    <Rule Id="RH5414" Action="Error" />
    <Rule Id="RH5415" Action="Error" />
    <Rule Id="RH5416" Action="Error" />
    <Rule Id="RH5417" Action="Error" />
    <Rule Id="RH5501" Action="Error" />
    <Rule Id="RH5502" Action="Error" />
    <Rule Id="RH5503" Action="Error" />
    <Rule Id="RH5504" Action="Error" />
    <Rule Id="RH5505" Action="Error" />
    <Rule Id="RH5506" Action="Error" />
    <Rule Id="RH5507" Action="Error" />
    <Rule Id="RH5508" Action="Error" />
    <Rule Id="RH5509" Action="Error" />
    <Rule Id="RH5510" Action="Error" />
    <Rule Id="RH5511" Action="Error" />
    <Rule Id="RH5512" Action="Error" />
    <Rule Id="RH5513" Action="Error" />
    <Rule Id="RH5514" Action="Error" />
    <Rule Id="RH5515" Action="None" />
    <Rule Id="RH5516" Action="Error" />
    <Rule Id="RH5517" Action="Error" />
    <Rule Id="RH5518" Action="Error" />
    <Rule Id="RH5519" Action="Error" />
    <Rule Id="RH5520" Action="Error" />
    <Rule Id="RH5521" Action="Error" />
    <Rule Id="RH5522" Action="Error" />
    <Rule Id="RH5523" Action="Error" />
    <Rule Id="RH5524" Action="Error" />
    <Rule Id="RH5525" Action="Error" />
    <Rule Id="RH5526" Action="Error" />
    <Rule Id="RH5527" Action="Error" />
    <Rule Id="RH5528" Action="Error" />
    <Rule Id="RH5529" Action="Error" />
    <Rule Id="RH5530" Action="Error" />
    <Rule Id="RH5531" Action="Error" />
    <Rule Id="RH5601" Action="Error" />
    <Rule Id="RH5602" Action="Error" />
    <Rule Id="RH5603" Action="Error" />
    <Rule Id="RH5604" Action="Error" />
    <Rule Id="RH6001" Action="Error" />
    <Rule Id="RH6002" Action="Error" />
    <Rule Id="RH6003" Action="Error" />
    <Rule Id="RH6004" Action="Error" />
    <Rule Id="RH6005" Action="Error" />
    <Rule Id="RH6006" Action="Error" />
    <Rule Id="RH6007" Action="Error" />
    <Rule Id="RH6008" Action="Error" />
    <Rule Id="RH6009" Action="Error" />
    <Rule Id="RH6010" Action="Error" />
    <Rule Id="RH6011" Action="Error" />
    <Rule Id="RH6012" Action="Error" />
    <Rule Id="RH6013" Action="Error" />
    <Rule Id="RH6014" Action="Error" />
    <Rule Id="RH6015" Action="Error" />
    <Rule Id="RH6016" Action="Error" />
    <Rule Id="RH6017" Action="Error" />
    <Rule Id="RH6018" Action="Error" />
    <Rule Id="RH6019" Action="Error" />
    <Rule Id="RH6020" Action="Error" />
    <Rule Id="RH6021" Action="Error" />
    <Rule Id="RH6022" Action="Error" />
    <Rule Id="RH6023" Action="Error" />
    <Rule Id="RH6024" Action="Error" />
    <Rule Id="RH7001" Action="Error" />
    <Rule Id="RH7002" Action="Error" />
    <Rule Id="RH7003" Action="Error" />
    <Rule Id="RH7004" Action="None" />
    <Rule Id="RH7101" Action="Error" />
    <Rule Id="RH7102" Action="Error" />
    <Rule Id="RH7103" Action="Error" />
    <Rule Id="RH7104" Action="Error" />
    <Rule Id="RH7105" Action="Error" />
    <Rule Id="RH7106" Action="Error" />
    <Rule Id="RH7107" Action="Error" />
    <Rule Id="RH7108" Action="Error" />
    <Rule Id="RH7109" Action="Error" />
    <Rule Id="RH7110" Action="Error" />
    <Rule Id="RH7201" Action="Error" />
    <Rule Id="RH7202" Action="Error" />
    <Rule Id="RH7203" Action="Error" />
    <Rule Id="RH7204" Action="Error" />
    <Rule Id="RH7205" Action="Error" />
    <Rule Id="RH7206" Action="Error" />
    <Rule Id="RH7207" Action="Error" />
    <Rule Id="RH7301" Action="Error" />
    <Rule Id="RH7302" Action="Error" />
    <Rule Id="RH7303" Action="Error" />
    <Rule Id="RH7304" Action="Error" />
    <Rule Id="RH7305" Action="Error" />
    <Rule Id="RH7306" Action="Error" />
    <Rule Id="RH7307" Action="Error" />
    <Rule Id="RH7308" Action="Error" />
    <Rule Id="RH7309" Action="Error" />
    <Rule Id="RH7310" Action="Error" />
    <Rule Id="RH7311" Action="Error" />
    <Rule Id="RH7401" Action="Error" />
    <Rule Id="RH7402" Action="Error" />
    <Rule Id="RH7403" Action="Error" />
    <Rule Id="RH7404" Action="Error" />
    <Rule Id="RH7405" Action="Error" />
    <Rule Id="RH7406" Action="Error" />
    <Rule Id="RH7407" Action="Error" />
    <Rule Id="RH7408" Action="Error" />
    <Rule Id="RH7409" Action="Error" />
    <Rule Id="RH7410" Action="Error" />
    <Rule Id="RH7411" Action="Error" />
    <Rule Id="RH7412" Action="Error" />
    <Rule Id="RH7501" Action="Error" />
    <Rule Id="RH8001" Action="Error" />
    <Rule Id="RH8002" Action="Error" />
    <Rule Id="RH8003" Action="Error" />
    <Rule Id="RH8004" Action="Error" />
    <Rule Id="RH8005" Action="Error" />
    <Rule Id="RH8006" Action="Error" />
    <Rule Id="RH8007" Action="Error" />
    <Rule Id="RH8008" Action="Error" />
    <Rule Id="RH8009" Action="Error" />
    <Rule Id="RH8010" Action="Error" />
    <Rule Id="RH8011" Action="Error" />
    <Rule Id="RH8012" Action="Error" />
    <Rule Id="RH8013" Action="Error" />
    <Rule Id="RH8014" Action="Error" />
    <Rule Id="RH8015" Action="Error" />
    <Rule Id="RH8016" Action="Error" />
    <Rule Id="RH8017" Action="Error" />
    <Rule Id="RH8018" Action="Error" />
    <Rule Id="RH8019" Action="Error" />
    <Rule Id="RH8020" Action="Error" />
    <Rule Id="RH8021" Action="Error" />
    <Rule Id="RH8022" Action="Error" />
    <Rule Id="RH8023" Action="Error" />
    <Rule Id="RH8024" Action="Error" />
    <Rule Id="RH8025" Action="Error" />
    <Rule Id="RH8026" Action="Error" />
    <Rule Id="RH8027" Action="None" />
    <Rule Id="RH8028" Action="Error" />
    <Rule Id="RH8029" Action="Error" />
    <Rule Id="RH8030" Action="Error" />
    <Rule Id="RH8031" Action="Error" />
    <Rule Id="RH8032" Action="Error" />
    <Rule Id="RH8033" Action="Error" />
    <Rule Id="RH8101" Action="Error" />
    <Rule Id="RH8102" Action="Error" />
    <Rule Id="RH8103" Action="Error" />
    <Rule Id="RH8104" Action="Error" />
    <Rule Id="RH8105" Action="Error" />
    <Rule Id="RH8106" Action="Error" />
    <Rule Id="RH8107" Action="Error" />
    <Rule Id="RH8108" Action="Error" />
    <Rule Id="RH8109" Action="Error" />
    <Rule Id="RH8110" Action="Error" />
    <Rule Id="RH8111" Action="Error" />
    <Rule Id="RH8201" Action="Error" />
    <Rule Id="RH8202" Action="Error" />
    <Rule Id="RH8203" Action="Error" />
    <Rule Id="RH8204" Action="Error" />
    <Rule Id="RH8301" Action="Error" />
    <Rule Id="RH8302" Action="Error" />
    <Rule Id="RH8303" Action="Error" />
    <Rule Id="RH8304" Action="Error" />
    <Rule Id="RH8305" Action="Error" />
    <Rule Id="RH8306" Action="None" />
    <Rule Id="RH8307" Action="Error" />
    <Rule Id="RH8308" Action="Error" />
    <Rule Id="RH8309" Action="Error" />
    <Rule Id="RH8401" Action="Error" />
    <Rule Id="RH8402" Action="None" />
    <Rule Id="RH8501" Action="Error" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S1192" Action="Warning" />
    <Rule Id="S3776" Action="Warning" />
  </Rules>
</RuleSet>